{% extends 'base.html' %}
{% block title %} Фольклорный архив {% endblock %}
{% block content %}
    <script type="text/javascript">
    $(document).ready(function(){
     $('.spoiler_links').click(function(){
      $(this).parent().children('div.spoiler_body').toggle('normal');
      return false;
     });
    });
</script>
<style>
a{color: #008000;}
div.main{
	margin-left: 200px;
	margin-top: 22px;
	width: 67%
}
.text{
	font-size: 18px;
}
.labels{
	font-size: 25px;
	font-weight: bold;
}
td, th{
    text-align: left;
    padding: 2px;
}
tr.rel:nth-child(even) {background-color: #f2f2f2;}
.spoiler_body {display:none; padding: 20px;}
.spoiler_links {cursor:pointer;}
</style>
<div class="main text">
    {{ result['idx'].id }} {{ result['idx'].lemma }}
    <table>
        <tr>
            <th> Language </th>
            <th> TotalCount </th>
            <th> IPM </th>
        </tr>
        {% for item in result['freq']['languages'] %}
            <tr>
                <td>{{ item[0] }}</td>
                <td>{{ item[1] }}</td>
                <td>{{ item[2] }}</td>
            </tr>
        {% endfor %}
    </table>
    <br><br>
    <table>
        <tr>
            <th>POS</th>
            <th>Grammar</th>
        </tr>
        {% for pos in result['grammars'] %}
            <tr>
                <td>{{ pos }}</td>
                <td>
                    {% for item in result['grammars'][pos] %}
                        {{ item['grammar'].string_format }}, {{ item['lgf'].totalcount }} <br>
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </table>
    <br><br>
    <table class="col-md-12">
        <colgroup>
            <col style="width:10%">
            <col style="width:90%">
        </colgroup>
        <tr>
            <th> POS </th>
            <th> Usage </th>
        </tr>
        {% for pos_block in result['head'] if pos_block %}
            <tr class="rel">
                <td>{{ pos_block[0] }}</td>
                <td>
                    <div class="row">
                        <table class="col-md-12">
                        <colgroup>
                            <col style="width:10%">
                            <col style="width:10%">
                            <col style="width:80%">
                        </colgroup>
                            {% for relation in pos_block[1] if relation %}
                            <tr class="rel">
                                <td>
                                    {{ relation[0] }}
                                </td>
                                <td>
                                    {{ relation[1] }}
                                </td>
                                <td>
                                    {% for word in relation[2] %}
                                        {{ word[0].lemma }}, {{ word[1] }};
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                        </table>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </table>
    <br><br>
    <table class="col-md-12">
        <colgroup>
            <col style="width:10%">
            <col style="width:90%">
        </colgroup>
        <tr>
            <th> POS </th>
            <th> Usage </th>
        </tr>
        {% for pos_block in result['dep'] if pos_block %}
            <tr class="rel">
                <td>{{ pos_block[0] }}</td>
                <td>
                    <div class="row">
                        <table class="col-md-12">
                        <colgroup>
                            <col style="width:10%">
                            <col style="width:10%">
                            <col style="width:80%">
                        </colgroup>
                            {% for relation in pos_block[1] if relation %}
                            <tr class="rel">
                                <td>
                                    {{ relation[0] }}
                                </td>
                                <td>
                                    {{ relation[1] }}
                                </td>
                                <td>
                                    {% for word in relation[2] %}
                                        {{ word[0].lemma }}, {{ word[1] }};
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                        </table>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </table>

</div>

{% endblock %}